body{
    cursor: none;

}


.cursor
{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    position: absolute;
    transform: translate3d(-50%,-50%, -0);
    top: 0;
    left: 0;
    background-color: black;
  
}

.cursor-lazy
{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 2px solid red ;
    position: absolute;
    transform: translate3d(-50%,-50%, -0);
    top: 0;
    left: 0;
    transition: 0.1s ease-out;
    
}

